@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  @keyframes slide {
    100% {
      background-position:
        50px 0,
        125px 25px;
    }
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

  body {
    // @apply bg-gray-1;
  }

  main {
    @apply min-h-screen w-full bg-gray-100;

    -webkit-animation: slide 2s linear infinite;
    animation: slide 4s linear infinite;
  }
}
